<div id="pageWrapper" class='untouchable'>
    <div id="userSection">
        <div ng-click="startSession()" id="userPicture">
          <img class="healthBar" src="images/neuron.gif">
          <div class="sparkContain">
            <img ng-style="{'left' : health + '%'}" class="spark" src="images/spark.svg">
          </div>
        </div>
        <div id="userCommand"><span class="commandText">{{reason}}<span ng-show="instruction">, </span><strong>{{instruction}}</strong></div>
        <div ng-style="{'width':(timeLeft / totalTTL * 100) +'%'}" id="userTimeLeft"></span></div>
    </div>
    <div id="actionSection">
        <div ng-repeat="control in controls" class="untouchable action actionSmall" ng-click="fireAction(control)" control-outcome>
          <div class="actionItemContainer">
            <div class="actionDescription">{{control.label}}</div>
            <img class="actionImage" ng-src="images/{{control.id}}.png">
          </div>
            <!--<div class="actionSwitch">
                <span class="button btnOn">ON</span><span class="button btnOff">OFF</span>
            </div>-->
        </div>
    </div>
</div>
<!-- Subscribe to error flash messages. -->
<!-- <div flash-alert="error" active-class="in" class="alert fade">
    <span class="alert-message">{{flash.message}}</span>
</div>
 -->