<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/socket.io/socket.io.js" defer></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js" defer></script>
	<script src="/javascripts/krankinwagon.js" defer></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
