/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
  display: block;
}

body
{
  line-height: 1.15;
}

ol, ul
{
  list-style: none;
}

/************************************************/

.view {
    background-color: #1f2227;
    width: 100%;
    height: 568px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#userPicture {
    background-image: url("../images/neuron.jpg");
    height: 100px;
    width: 100%;

}

#userCommand {
    height: 95px;
    color: #ccc;
    font-size: 18px;
    line-height: 95px;
    text-align: center;
}

.commandText {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#userTimeLeft {
    background-color: #44BF87;
    height: 10px;
}

#actionSection {
  height: auto;
}

.action {
    width: 50%;
    border-right: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    float: right;
    height: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action:active {
    background-color: #F29A3F;
    color: #1f2227;
    -webkit-transition: color 0.2s, background-color 0.2s;
    transition: color 0.2s, background-color 0.2s;   
}

.action:nth-child(odd) {
  border-right: 0px;
}

.actionSwitch {
    padding-left: 5px;
}

.actionDescription {
    text-align: center;
    color: #cccccc;
}

.actionBig > .actionDescription {
    margin-top: 130px;
}


.defaultState {
    background-color: #1f2227;
    color: #cccccc;
    -webkit-transition: color 2s, background-color 2s;
    transition: color 2s, background-color 2s;   
}

#health,
#connected {
    color: white;
}

.untouchable {
    outline: none !important;
    -webkit-user-modify: read-only !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-tap-highlight-color: transparent !important; /* For some Androids */
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/*
.button {
    display: inline-block;
    width: 72px;
    height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    border: 1px solid #5e6166;   
    
}

.button:active {
    display: inline-block;
    width: 72px;
    height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
    border: 1px solid #5e6166;  

    
}

.btnOn {
    background-color: #cccccc;
    color: #1f2227;
}
.btnOff {
    background-color: #1f2227;
    color: #cccccc;

}*/

